@font-face {
  font-family: "Figtree";
  src: url("fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree-fallback";
  src: local("Arial");
  ascent-override: 93.6%;
  descent-override: 24.63%;
  line-gap-override: 0%;
  size-adjust: 101.49%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", "Figtree-fallback";
}

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
}

.background {
  background: var(--clr-yellow);
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: min(calc(100% - 3rem), 24rem);
  padding: 1.5rem;
  background: var(--clr-white);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 8px 8px 0px 0px var(--clr-black),
    inset 0px 0px 0px 1px var(--clr-black);
  font-weight: 500;
}

.card__body__badge-list {
  list-style: none;
}

.card__body__badge-list li {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--clr-yellow);
  font-weight: 900;
}

.card__image {
  border-radius: 0.625rem;
  object-fit: cover;
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card__body h1:hover {
  color: var(--clr-yellow);
  cursor: pointer;
}

.card__body p {
  color: var(--clr-grey);
}

.card__avatar__container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-weight: 900;
}

.body-s {
  font-size: 0.75rem;
  line-height: 150%;
}

.body-m {
  font-size: 0.875rem;
  line-height: 150%;
}

.heading {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 900;
}

@media (min-width: 376px) {
  .body-s {
    font-size: 0.875rem;
    line-height: 150%;
  }

  .body-m {
    font-size: 1rem;
    line-height: 150%;
  }

  .heading {
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 900;
  }
}
